<div class="font-sans bg-gray-100 min-h-screen p-8">
  <div class="container mx-auto  p-6 rounded-lg ">
    <div class="flex items-center text-sm text-gray-600">
      <a class="hover:text-gray-800" href="#">Home</a>
      <svg class="mx-2" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.53063 0.469372L6.53063 5.46937C6.60055 5.53905 6.65602 5.62184 6.69388 5.71301C6.73173 5.80417 6.75122 5.90191 6.75122 6.00062C6.75122 6.09933 6.73173 6.19707 6.69388 6.28824C6.65602 6.3794 6.60055 6.46219 6.53063 6.53187L1.53063 11.5319C1.38973 11.6728 1.19864 11.7519 0.999378 11.7519C0.80012 11.7519 0.609024 11.6728 0.468128 11.5319C0.327231 11.391 0.248077 11.1999 0.248077 11.0006C0.248077 10.8014 0.327231 10.6103 0.468128 10.4694L4.9375 6L0.467503 1.53062C0.326607 1.38973 0.247452 1.19863 0.247452 0.999372C0.247452 0.800115 0.326607 0.609019 0.467503 0.468122C0.608399 0.327226 0.799496 0.24807 0.998753 0.24807C1.19801 0.24807 1.38911 0.327226 1.53 0.468122L1.53063 0.469372Z" fill="currentColor" />
      </svg>
      <span class="text-black">Cart</span>
    </div>
    <h1 class="text-2xl font-bold mt-4 mb-6">Your Cart</h1>

    <div class="flex flex-col lg:flex-row gap-8">
      <div class="lg:w-7/12 border border-gray-300 rounded-2xl p-4">
        <!-- Gradient Graphic T-shirt -->
        <div class="flex items-center justify-between border-b border-gray-200 py-4">
          <div class="flex items-center w-9/12">
            <img class="max-w-5/12 max-h-[305px]" src="/assets/prodc.png" alt="Formal">
            <div class="ml-4 w-7/12">
              <h2 class="text-lg font-semibold">Gradient Graphic T-shirt</h2>
              <p class="text-sm text-gray-600">Size: Large</p>
              <p class="text-sm text-gray-600">Color: White</p>
              <p class="text-lg font-semibold">$145</p>
            </div>
          </div>
          <div class="flex flex-col items-end gap-14 w-3/12">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.25 3.5H13.5V2.75C13.5 2.15326 13.2629 1.58097 12.841 1.15901C12.419 0.737053 11.8467 0.5 11.25 0.5H6.75C6.15326 0.5 5.58097 0.737053 5.15901 1.15901C4.73705 1.58097 4.5 2.15326 4.5 2.75V3.5H0.75C0.551088 3.5 0.360322 3.57902 0.21967 3.71967C0.0790178 3.86032 0 4.05109 0 4.25C0 4.44891 0.0790178 4.63968 0.21967 4.78033C0.360322 4.92098 0.551088 5 0.75 5H1.5V18.5C1.5 18.8978 1.65804 19.2794 1.93934 19.5607C2.22064 19.842 2.60218 20 3 20H15C15.3978 20 15.7794 19.842 16.0607 19.5607C16.342 19.2794 16.5 18.8978 16.5 18.5V5H17.25C17.4489 5 17.6397 4.92098 17.7803 4.78033C17.921 4.63968 18 4.44891 18 4.25C18 4.05109 17.921 3.86032 17.7803 3.71967C17.6397 3.57902 17.4489 3.5 17.25 3.5ZM7.5 14.75C7.5 14.9489 7.42098 15.1397 7.28033 15.2803C7.13968 15.421 6.94891 15.5 6.75 15.5C6.55109 15.5 6.36032 15.421 6.21967 15.2803C6.07902 15.1397 6 14.9489 6 14.75V8.75C6 8.55109 6.07902 8.36032 6.21967 8.21967C6.36032 8.07902 6.55109 8 6.75 8C6.94891 8 7.13968 8.07902 7.28033 8.21967C7.42098 8.36032 7.5 8.55109 7.5 8.75V14.75ZM12 14.75C12 14.9489 11.921 15.1397 11.7803 15.2803C11.6397 15.421 11.4489 15.5 11.25 15.5C11.0511 15.5 10.8603 15.421 10.7197 15.2803C10.579 15.1397 10.5 14.9489 10.5 14.75V8.75C10.5 8.55109 10.579 8.36032 10.7197 8.21967C10.8603 8.07902 11.0511 8 11.25 8C11.4489 8 11.6397 8.07902 11.7803 8.21967C11.921 8.36032 12 8.55109 12 8.75V14.75ZM12 3.5H6V2.75C6 2.55109 6.07902 2.36032 6.21967 2.21967C6.36032 2.07902 6.55109 2 6.75 2H11.25C11.4489 2 11.6397 2.07902 11.7803 2.21967C11.921 2.36032 12 2.55109 12 2.75V3.5Z" fill="#FF3333" />
            </svg>
            <div class="flex items-center border border-gray-300 rounded">
              <button class="px-2 py-1 text-gray-600">-</button>
              <span class="px-2 py-1 text-gray-800">1</span>
              <button class="px-2 py-1 text-gray-600">+</button>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between border-b border-gray-200 py-4">
          <div class="flex items-center w-9/12">
            <img class="max-w-5/12 max-h-[305px]" src="/assets/prodc2.png" alt="Formal">
            <div class="ml-4 w-7/12">
              <h2 class="text-lg font-semibold">CHECKERED SHIRT</h2>
              <p class="text-sm text-gray-600">Size: Medium</p>
              <p class="text-sm text-gray-600">Color: Red</p>
              <p class="text-lg font-semibold">$180</p>
            </div>
          </div>
          <div class="flex flex-col items-end gap-14 w-3/12">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.25 3.5H13.5V2.75C13.5 2.15326 13.2629 1.58097 12.841 1.15901C12.419 0.737053 11.8467 0.5 11.25 0.5H6.75C6.15326 0.5 5.58097 0.737053 5.15901 1.15901C4.73705 1.58097 4.5 2.15326 4.5 2.75V3.5H0.75C0.551088 3.5 0.360322 3.57902 0.21967 3.71967C0.0790178 3.86032 0 4.05109 0 4.25C0 4.44891 0.0790178 4.63968 0.21967 4.78033C0.360322 4.92098 0.551088 5 0.75 5H1.5V18.5C1.5 18.8978 1.65804 19.2794 1.93934 19.5607C2.22064 19.842 2.60218 20 3 20H15C15.3978 20 15.7794 19.842 16.0607 19.5607C16.342 19.2794 16.5 18.8978 16.5 18.5V5H17.25C17.4489 5 17.6397 4.92098 17.7803 4.78033C17.921 4.63968 18 4.44891 18 4.25C18 4.05109 17.921 3.86032 17.7803 3.71967C17.6397 3.57902 17.4489 3.5 17.25 3.5ZM7.5 14.75C7.5 14.9489 7.42098 15.1397 7.28033 15.2803C7.13968 15.421 6.94891 15.5 6.75 15.5C6.55109 15.5 6.36032 15.421 6.21967 15.2803C6.07902 15.1397 6 14.9489 6 14.75V8.75C6 8.55109 6.07902 8.36032 6.21967 8.21967C6.36032 8.07902 6.55109 8 6.75 8C6.94891 8 7.13968 8.07902 7.28033 8.21967C7.42098 8.36032 7.5 8.55109 7.5 8.75V14.75ZM12 14.75C12 14.9489 11.921 15.1397 11.7803 15.2803C11.6397 15.421 11.4489 15.5 11.25 15.5C11.0511 15.5 10.8603 15.421 10.7197 15.2803C10.579 15.1397 10.5 14.9489 10.5 14.75V8.75C10.5 8.55109 10.579 8.36032 10.7197 8.21967C10.8603 8.07902 11.0511 8 11.25 8C11.4489 8 11.6397 8.07902 11.7803 8.21967C11.921 8.36032 12 8.55109 12 8.75V14.75ZM12 3.5H6V2.75C6 2.55109 6.07902 2.36032 6.21967 2.21967C6.36032 2.07902 6.55109 2 6.75 2H11.25C11.4489 2 11.6397 2.07902 11.7803 2.21967C11.921 2.36032 12 2.55109 12 2.75V3.5Z" fill="#FF3333" />
            </svg>
            <div class="flex items-center border border-gray-300 rounded">
              <button class="px-2 py-1 text-gray-600">-</button>
              <span class="px-2 py-1 text-gray-800">1</span>
              <button class="px-2 py-1 text-gray-600">+</button>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-between border-b border-gray-200 py-4">
          <div class="flex items-center w-9/12">
            <img class="max-w-5/12 max-h-[305px]" src="/assets/prodc3.png" alt="Formal">
            <div class="ml-4 w-7/12">
              <h2 class="text-lg font-semibold">SKINNY FIT JEANS</h2>
              <p class="text-sm text-gray-600">Size: Large</p>
              <p class="text-sm text-gray-600">Color: Blue</p>
              <p class="text-lg font-semibold">$240</p>
            </div>
          </div>
          <div class="flex flex-col items-end gap-14 w-3/12">
            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.25 3.5H13.5V2.75C13.5 2.15326 13.2629 1.58097 12.841 1.15901C12.419 0.737053 11.8467 0.5 11.25 0.5H6.75C6.15326 0.5 5.58097 0.737053 5.15901 1.15901C4.73705 1.58097 4.5 2.15326 4.5 2.75V3.5H0.75C0.551088 3.5 0.360322 3.57902 0.21967 3.71967C0.0790178 3.86032 0 4.05109 0 4.25C0 4.44891 0.0790178 4.63968 0.21967 4.78033C0.360322 4.92098 0.551088 5 0.75 5H1.5V18.5C1.5 18.8978 1.65804 19.2794 1.93934 19.5607C2.22064 19.842 2.60218 20 3 20H15C15.3978 20 15.7794 19.842 16.0607 19.5607C16.342 19.2794 16.5 18.8978 16.5 18.5V5H17.25C17.4489 5 17.6397 4.92098 17.7803 4.78033C17.921 4.63968 18 4.44891 18 4.25C18 4.05109 17.921 3.86032 17.7803 3.71967C17.6397 3.57902 17.4489 3.5 17.25 3.5ZM7.5 14.75C7.5 14.9489 7.42098 15.1397 7.28033 15.2803C7.13968 15.421 6.94891 15.5 6.75 15.5C6.55109 15.5 6.36032 15.421 6.21967 15.2803C6.07902 15.1397 6 14.9489 6 14.75V8.75C6 8.55109 6.07902 8.36032 6.21967 8.21967C6.36032 8.07902 6.55109 8 6.75 8C6.94891 8 7.13968 8.07902 7.28033 8.21967C7.42098 8.36032 7.5 8.55109 7.5 8.75V14.75ZM12 14.75C12 14.9489 11.921 15.1397 11.7803 15.2803C11.6397 15.421 11.4489 15.5 11.25 15.5C11.0511 15.5 10.8603 15.421 10.7197 15.2803C10.579 15.1397 10.5 14.9489 10.5 14.75V8.75C10.5 8.55109 10.579 8.36032 10.7197 8.21967C10.8603 8.07902 11.0511 8 11.25 8C11.4489 8 11.6397 8.07902 11.7803 8.21967C11.921 8.36032 12 8.55109 12 8.75V14.75ZM12 3.5H6V2.75C6 2.55109 6.07902 2.36032 6.21967 2.21967C6.36032 2.07902 6.55109 2 6.75 2H11.25C11.4489 2 11.6397 2.07902 11.7803 2.21967C11.921 2.36032 12 2.55109 12 2.75V3.5Z" fill="#FF3333" />
            </svg>
            <div class="flex items-center border border-gray-300 rounded">
              <button class="px-2 py-1 text-gray-600">-</button>
              <span class="px-2 py-1 text-gray-800">1</span>
              <button class="px-2 py-1 text-gray-600">+</button>
            </div>
          </div>
        </div>

      </div>

      <!-- Order Summary -->
      <div class="lg:w-5/12 border border-gray-300 rounded-2xl p-4">
        <div class="p-6">
          <h2 class="text-lg font-semibold mb-4 lowercase">Order Summary</h2>
          <div class="space-y-3">
            <div class="flex justify-between">
              <span class="text-gray-600">Subtotal</span>
              <span class="font-semibold">$565</span>
            </div>
            <div class="flex justify-between">
              <span class="text-gray-600">Discount (-20%)</span>
              <span class="font-semibold text-red-400">-$113</span>
            </div>
            <div class="flex justify-between">
              <span class="text-gray-600">Delivery Fee</span>
              <span class="font-semibold">$15</span>
            </div>
            <div class="flex justify-between pt-3 border-t border-gray-200">
              <span class="text-lg font-semibold">Total</span>
              <span class="text-lg font-semibold">$467</span>
            </div>
          </div>
          <div class="mt-6">
            <div class="flex gap-4">
              <form class="flex items-center bg-gray-500 rounded-full px-4 form w-9/12" action="">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.0766 10.4857L11.7653 1.17444C11.5917 0.999696 11.3851 0.861152 11.1576 0.766846C10.93 0.672541 10.686 0.62435 10.4397 0.625069H1.75001C1.45164 0.625069 1.16549 0.743595 0.954513 0.954574C0.743534 1.16555 0.625008 1.4517 0.625008 1.75007V10.4398C0.624289 10.6861 0.67248 10.9301 0.766785 11.1577C0.861091 11.3852 0.999635 11.5918 1.17438 11.7654L10.4856 21.0766C10.8372 21.4281 11.3141 21.6256 11.8113 21.6256C12.3084 21.6256 12.7853 21.4281 13.1369 21.0766L21.0766 13.1369C21.4281 12.7853 21.6255 12.3085 21.6255 11.8113C21.6255 11.3141 21.4281 10.8373 21.0766 10.4857ZM11.8113 19.2204L2.87501 10.2813V2.87507H10.2813L19.2175 11.8113L11.8113 19.2204ZM7.37501 5.87507C7.37501 6.17174 7.28703 6.46175 7.12221 6.70842C6.95739 6.9551 6.72312 7.14736 6.44903 7.26089C6.17494 7.37442 5.87334 7.40412 5.58237 7.34625C5.2914 7.28837 5.02413 7.14551 4.81435 6.93573C4.60457 6.72595 4.46171 6.45868 4.40383 6.1677C4.34595 5.87673 4.37566 5.57513 4.48919 5.30104C4.60272 5.02695 4.79498 4.79269 5.04165 4.62786C5.28833 4.46304 5.57834 4.37507 5.87501 4.37507C6.27283 4.37507 6.65436 4.5331 6.93567 4.81441C7.21697 5.09571 7.37501 5.47724 7.37501 5.87507Z" fill="black" fill-opacity="0.4" />
                </svg>
                <input type="text" class="w-9/12 focus:outline-none rounded ml-2" placeholder="Add promo code">
              </form>
              <div class="w-3/12">
                <button class="w-full  bg-black text-white py-2 rounded-full">Apply</button>
              </div>
            </div>
          </div>
          <button class="w-full mt-6 bg-black text-white py-2 rounded-full">Go to Checkout →</button>
        </div>
      </div>
    </div>
  </div>
</div>
