<div class="container mx-auto px-4 ">
  <div class="flex items-center pb-8">
    <a class="text-gray-400" href="#">Home</a>

    <svg class="mx-2" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.53063 0.469372L6.53063 5.46937C6.60055 5.53905 6.65602 5.62184 6.69388 5.71301C6.73173 5.80417 6.75122 5.90191 6.75122 6.00062C6.75122 6.09933 6.73173 6.19707 6.69388 6.28824C6.65602 6.3794 6.60055 6.46219 6.53063 6.53187L1.53063 11.5319C1.38973 11.6728 1.19864 11.7519 0.999378 11.7519C0.80012 11.7519 0.609024 11.6728 0.468128 11.5319C0.327231 11.391 0.248077 11.1999 0.248077 11.0006C0.248077 10.8014 0.327231 10.6103 0.468128 10.4694L4.9375 6L0.467503 1.53062C0.326607 1.38973 0.247452 1.19863 0.247452 0.999372C0.247452 0.800115 0.326607 0.609019 0.467503 0.468122C0.608399 0.327226 0.799496 0.24807 0.998753 0.24807C1.19801 0.24807 1.38911 0.327226 1.53 0.468122L1.53063 0.469372Z" fill="black" fill-opacity="0.6" />
    </svg>
    <span class="text-black">Casual</span>
  </div>

  <div class="flex gap-6 flex-col lg:flex-row pb-8">
    <!-- Filters Section -->
    <div class="w-full lg:w-1/4 pr-4 border border-gray-300 p-6 rounded-4xl fil-l">
      <div class="flex border-b border-gray-300 justify-between items-center mb-2 py-4">
        <p class="text-xl font-bold">Filters</p>
        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.125 9.125V17.75C12.125 18.0484 12.0065 18.3345 11.7955 18.5455C11.5845 18.7565 11.2984 18.875 11 18.875C10.7016 18.875 10.4155 18.7565 10.2045 18.5455C9.99353 18.3345 9.875 18.0484 9.875 17.75V9.125C9.875 8.82663 9.99353 8.54048 10.2045 8.3295C10.4155 8.11853 10.7016 8 11 8C11.2984 8 11.5845 8.11853 11.7955 8.3295C12.0065 8.54048 12.125 8.82663 12.125 9.125ZM17.75 15.5C17.4516 15.5 17.1655 15.6185 16.9545 15.8295C16.7435 16.0405 16.625 16.3266 16.625 16.625V17.75C16.625 18.0484 16.7435 18.3345 16.9545 18.5455C17.1655 18.7565 17.4516 18.875 17.75 18.875C18.0484 18.875 18.3345 18.7565 18.5455 18.5455C18.7565 18.3345 18.875 18.0484 18.875 17.75V16.625C18.875 16.3266 18.7565 16.0405 18.5455 15.8295C18.3345 15.6185 18.0484 15.5 17.75 15.5ZM20 11.75H18.875V1.25C18.875 0.951631 18.7565 0.665483 18.5455 0.454505C18.3345 0.243526 18.0484 0.125 17.75 0.125C17.4516 0.125 17.1655 0.243526 16.9545 0.454505C16.7435 0.665483 16.625 0.951631 16.625 1.25V11.75H15.5C15.2016 11.75 14.9155 11.8685 14.7045 12.0795C14.4935 12.2905 14.375 12.5766 14.375 12.875C14.375 13.1734 14.4935 13.4595 14.7045 13.6705C14.9155 13.8815 15.2016 14 15.5 14H20C20.2984 14 20.5845 13.8815 20.7955 13.6705C21.0065 13.4595 21.125 13.1734 21.125 12.875C21.125 12.5766 21.0065 12.2905 20.7955 12.0795C20.5845 11.8685 20.2984 11.75 20 11.75ZM4.25 12.5C3.95163 12.5 3.66548 12.6185 3.4545 12.8295C3.24353 13.0405 3.125 13.3266 3.125 13.625V17.75C3.125 18.0484 3.24353 18.3345 3.4545 18.5455C3.66548 18.7565 3.95163 18.875 4.25 18.875C4.54837 18.875 4.83452 18.7565 5.0455 18.5455C5.25647 18.3345 5.375 18.0484 5.375 17.75V13.625C5.375 13.3266 5.25647 13.0405 5.0455 12.8295C4.83452 12.6185 4.54837 12.5 4.25 12.5ZM6.5 8.75H5.375V1.25C5.375 0.951631 5.25647 0.665483 5.0455 0.454505C4.83452 0.243526 4.54837 0.125 4.25 0.125C3.95163 0.125 3.66548 0.243526 3.4545 0.454505C3.24353 0.665483 3.125 0.951631 3.125 1.25V8.75H2C1.70163 8.75 1.41548 8.86853 1.2045 9.0795C0.993526 9.29048 0.875 9.57663 0.875 9.875C0.875 10.1734 0.993526 10.4595 1.2045 10.6705C1.41548 10.8815 1.70163 11 2 11H6.5C6.79837 11 7.08452 10.8815 7.2955 10.6705C7.50647 10.4595 7.625 10.1734 7.625 9.875C7.625 9.57663 7.50647 9.29048 7.2955 9.0795C7.08452 8.86853 6.79837 8.75 6.5 8.75ZM13.25 4.25H12.125V1.25C12.125 0.951631 12.0065 0.665483 11.7955 0.454505C11.5845 0.243526 11.2984 0.125 11 0.125C10.7016 0.125 10.4155 0.243526 10.2045 0.454505C9.99353 0.665483 9.875 0.951631 9.875 1.25V4.25H8.75C8.45163 4.25 8.16548 4.36853 7.9545 4.5795C7.74353 4.79048 7.625 5.07663 7.625 5.375C7.625 5.67337 7.74353 5.95952 7.9545 6.1705C8.16548 6.38147 8.45163 6.5 8.75 6.5H13.25C13.5484 6.5 13.8345 6.38147 14.0455 6.1705C14.2565 5.95952 14.375 5.67337 14.375 5.375C14.375 5.07663 14.2565 4.79048 14.0455 4.5795C13.8345 4.36853 13.5484 4.25 13.25 4.25Z" fill="black" fill-opacity="0.4" />
        </svg>
      </div>
      <div class="mb-4">
        <div class="flex items-center justify-between py-1">
          <p><a href="#" class="text-gray-700">T-shirts</a></p>
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
          </svg>
        </div>

        <div class="flex items-center justify-between py-1">
          <p><a href="#" class="text-gray-700">Shorts</a></p>
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
          </svg>
        </div>
        <div class="flex items-center justify-between py-1">
          <p><a href="#" class="text-gray-700">Shirts</a></p>
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
          </svg>
        </div>
        <div class="flex items-center justify-between py-1">
          <p><a href="#" class="text-gray-700">Hoodie</a></p>
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
          </svg>
        </div>
        <div class="flex items-center justify-between py-1">
          <p><a href="#" class="text-gray-700">Jeans</a></p>
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
          </svg>
        </div>
      </div>
      <div class="mb-4 pt-2 border-y border-gray-300">
        <div class="flex items-center justify-between pt-4">
          <p class="text-xl font-bold">Price</p>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.469372 5.96945L5.46937 0.969449C5.53905 0.899529 5.62184 0.844052 5.71301 0.806198C5.80417 0.768344 5.90191 0.748858 6.00062 0.748858C6.09933 0.748858 6.19707 0.768344 6.28824 0.806198C6.3794 0.844052 6.46219 0.899529 6.53187 0.969449L11.5319 5.96945C11.6728 6.11034 11.7519 6.30144 11.7519 6.5007C11.7519 6.69996 11.6728 6.89105 11.5319 7.03195C11.391 7.17284 11.1999 7.252 11.0006 7.252C10.8014 7.252 10.6103 7.17284 10.4694 7.03195L6 2.56257L1.53062 7.03257C1.38973 7.17347 1.19863 7.25263 0.999372 7.25263C0.800115 7.25263 0.609018 7.17347 0.468122 7.03257C0.327227 6.89168 0.24807 6.70058 0.24807 6.50132C0.24807 6.30207 0.327227 6.11097 0.468122 5.97007L0.469372 5.96945Z" fill="black" />
          </svg>
        </div>
        <img class="py-6" src="/assets/rang.png" alt="">
      </div>
      <div class="mb-4">
        <div class="flex items-center justify-between pt-8">
          <p class="text-xl font-bold pb-2">Color</p>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.469372 5.96945L5.46937 0.969449C5.53905 0.899529 5.62184 0.844052 5.71301 0.806198C5.80417 0.768344 5.90191 0.748858 6.00062 0.748858C6.09933 0.748858 6.19707 0.768344 6.28824 0.806198C6.3794 0.844052 6.46219 0.899529 6.53187 0.969449L11.5319 5.96945C11.6728 6.11034 11.7519 6.30144 11.7519 6.5007C11.7519 6.69996 11.6728 6.89105 11.5319 7.03195C11.391 7.17284 11.1999 7.252 11.0006 7.252C10.8014 7.252 10.6103 7.17284 10.4694 7.03195L6 2.56257L1.53062 7.03257C1.38973 7.17347 1.19863 7.25263 0.999372 7.25263C0.800115 7.25263 0.609018 7.17347 0.468122 7.03257C0.327227 6.89168 0.24807 6.70058 0.24807 6.50132C0.24807 6.30207 0.327227 6.11097 0.468122 5.97007L0.469372 5.96945Z" fill="black" />
          </svg>
        </div>
        <div class="my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="#00C12B" />
            <circle cx="18.5" cy="18.5001" r="17.5" stroke="black" stroke-opacity="0.2" stroke-width="2" />
          </svg>
          <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="19" cy="18.5001" r="18.5" fill="#F50606" />
            <circle cx="19" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="#F5DD06" />
            <circle cx="18.5" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="19" cy="18.5001" r="18.5" fill="#F57906" />
            <circle cx="19" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="#06CAF5" />
            <circle cx="18.5" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="#063AF5" />
            <circle cx="18.5" cy="18.5001" r="17.5" stroke="black" stroke-opacity="0.2" stroke-width="2" />
          </svg>
          <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="19" cy="18.5001" r="18.5" fill="#7D06F5" />
            <circle cx="19" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="#F506A4" />
            <circle cx="18.5" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="38" height="37" viewBox="0 0 38 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="19" cy="18.5001" r="18.5" fill="white" />
            <circle cx="19" cy="18.5001" r="18" stroke="black" stroke-opacity="0.2" />
          </svg>
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18.5" cy="18.5001" r="18.5" fill="black" />
          </svg>
        </div>
        <!-- Color options here -->
      </div>
      <div class="mb-4">
        <div class="flex items-center justify-between border-t py-6 border-gray-300">
          <p class="text-xl font-bold pb-2">Size</p>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.469372 5.96945L5.46937 0.969449C5.53905 0.899529 5.62184 0.844052 5.71301 0.806198C5.80417 0.768344 5.90191 0.748858 6.00062 0.748858C6.09933 0.748858 6.19707 0.768344 6.28824 0.806198C6.3794 0.844052 6.46219 0.899529 6.53187 0.969449L11.5319 5.96945C11.6728 6.11034 11.7519 6.30144 11.7519 6.5007C11.7519 6.69996 11.6728 6.89105 11.5319 7.03195C11.391 7.17284 11.1999 7.252 11.0006 7.252C10.8014 7.252 10.6103 7.17284 10.4694 7.03195L6 2.56257L1.53062 7.03257C1.38973 7.17347 1.19863 7.25263 0.999372 7.25263C0.800115 7.25263 0.609018 7.17347 0.468122 7.03257C0.327227 6.89168 0.24807 6.70058 0.24807 6.50132C0.24807 6.30207 0.327227 6.11097 0.468122 5.97007L0.469372 5.96945Z" fill="black" />
          </svg>
        </div>
        <ul class="flex flex-wrap gap-4 mb-4">
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">XX-Small</a></li>
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">X-Small</a></li>
        </ul>
        <ul class="flex flex-wrap gap-4 mb-4">
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">Small</a></li>
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">Medium</a></li>
        </ul>
        <ul class="flex flex-wrap gap-4 mb-4">
          <li class="bg-black  py-2 px-4 rounded-full"><a href="#" class="text-white">Large</a></li>
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">X-Large</a></li>
        </ul>
        <ul class="flex flex-wrap gap-4 mb-4">
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">XX-Large</a></li>
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">3X-Large</a></li>
        </ul>
        <ul class="flex flex-wrap gap-4 mb-4">
          <li class="bg-gray-300 py-2 px-4 rounded-full"><a href="#" class="text-gray-700">4X-Large</a></li>
        </ul>
        
      </div>
      <div class="mb-4">
        <div class="flex items-center justify-between pt-8">
          <p class="text-xl font-bold">Dress Style</p>
          <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.469372 5.96945L5.46937 0.969449C5.53905 0.899529 5.62184 0.844052 5.71301 0.806198C5.80417 0.768344 5.90191 0.748858 6.00062 0.748858C6.09933 0.748858 6.19707 0.768344 6.28824 0.806198C6.3794 0.844052 6.46219 0.899529 6.53187 0.969449L11.5319 5.96945C11.6728 6.11034 11.7519 6.30144 11.7519 6.5007C11.7519 6.69996 11.6728 6.89105 11.5319 7.03195C11.391 7.17284 11.1999 7.252 11.0006 7.252C10.8014 7.252 10.6103 7.17284 10.4694 7.03195L6 2.56257L1.53062 7.03257C1.38973 7.17347 1.19863 7.25263 0.999372 7.25263C0.800115 7.25263 0.609018 7.17347 0.468122 7.03257C0.327227 6.89168 0.24807 6.70058 0.24807 6.50132C0.24807 6.30207 0.327227 6.11097 0.468122 5.97007L0.469372 5.96945Z" fill="black" />
          </svg>
        </div>
        <div class="mb-4 py-4">
          <div class="flex items-center justify-between py-1">
            <p><a href="#" class="text-gray-700">Casual</a></p>
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
            </svg>
          </div>
  
          <div class="flex items-center justify-between py-1">
            <p><a href="#" class="text-gray-700">Formal</a></p>
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
            </svg>
          </div>
          <div class="flex items-center justify-between py-1">
            <p><a href="#" class="text-gray-700">Party</a></p>
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
            </svg>
          </div>
          <div class="flex items-center justify-between py-1">
            <p><a href="#" class="text-gray-700">Gym</a></p>
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.53061 0.469402L6.53061 5.4694C6.60053 5.53908 6.65601 5.62187 6.69386 5.71304C6.73172 5.8042 6.7512 5.90194 6.7512 6.00065C6.7512 6.09936 6.73172 6.1971 6.69386 6.28827C6.65601 6.37943 6.60053 6.46222 6.53061 6.5319L1.53061 11.5319C1.38972 11.6728 1.19862 11.752 0.999362 11.752C0.800105 11.752 0.609009 11.6728 0.468112 11.5319C0.327216 11.391 0.248062 11.1999 0.248062 11.0007C0.248062 10.8014 0.327216 10.6103 0.468112 10.4694L4.93749 6.00003L0.467488 1.53065C0.326592 1.38976 0.247437 1.19866 0.247437 0.999403C0.247437 0.800145 0.326592 0.609049 0.467488 0.468153C0.608384 0.327257 0.799481 0.2481 0.998738 0.2481C1.198 0.2481 1.38909 0.327257 1.52999 0.468153L1.53061 0.469402Z" fill="black" fill-opacity="0.6" />
            </svg>
          </div>
        </div>
      </div>
      <button class="bg-black text-white px-4 py-2 rounded-full w-full">Apply Filter</button>
    </div>

    <!-- Products Section -->
    <div class="w-full lg:w-3/4">
      <div class="flex items-center justify-between mb-6">
        <p class="text-[32px] font-bold mb-4">Casual</p>
        <div class="flex items-center gap-4">
          <p>Showing 1-10 of 100 Products</p>
          <p>Sort by: <span class="font-semibold">Most Popular</span></p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Product Cards -->
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product11.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="text-2xl font-bold">$145</div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Polo with Tipping Details</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate1.png" alt="">
              4.5/5
            </div>
          </div>
          <div class="text-2xl font-bold">$180</div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product2.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">SKINNY FIT JEANS</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/five-star.png" alt="">
              5/5
            </div>
          </div>
          <div class="">
            <span class="text-2xl font-bold text-gray-800">$130</span>
            <span class="text-2xl text-gray-500 line-through ml-2">$160</span>
            <span class="text-lg px-4 py-2 rounded-full bg-[#FFEBEB] text-red-600 ml-2">-30%</span>
          </div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="\assets\prodc3.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Vertical Striped Shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/five-star.png" alt="">
              5/5
            </div>
          </div>
          <div class="">
            <span class="text-2xl font-bold text-gray-800">$212</span>
            <span class="text-2xl text-gray-500 line-through ml-2">$232</span>
            <span class="text-lg px-4 py-2 rounded-full bg-[#FFEBEB] text-red-600 ml-2">-20%</span>
          </div>
        </div>

        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product3.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="text-2xl font-bold">$145</div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product5.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="">
            <span class="text-2xl font-bold text-gray-800">$130</span>
            <span class="text-2xl text-gray-500 line-through ml-2">$160</span>
            <span class="text-lg px-4 py-2 rounded-full bg-[#FFEBEB] text-red-600 ml-2">-30%</span>
          </div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product6.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="">
            <span class="text-2xl font-bold text-gray-800">$160</span>
            <span class="text-2xl text-gray-500 line-through ml-2">$190</span>
            <span class="text-lg px-4 py-2 rounded-full bg-[#FFEBEB] text-red-600 ml-2">-30%</span>
          </div>
        </div>

        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product8.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="text-2xl font-bold">$145</div>
        </div>
        <div class="">
          <div class="bg-gray-100 rounded-4xl mb-6">
            <img class="w-full" src="/assets/product10.png" alt="">
          </div>
          <p class="capitalize font-bold text-[20px] mb-2">Gradient Graphic T-shirt</p>
          <div class="flex">
            <div class="flex items-center text-gray-500 mb-2">
              <img class="mr-2" src="/assets/rate2.png" alt="">
              3.5/5
            </div>
          </div>
          <div class="text-2xl font-bold">$145</div>
        </div>

        <!-- Repeat for other products -->
      </div>
      <!-- Pagination -->
      <div class="flex justify-between mt-8">
        <a href="#" class="mx-1 px-3 py-1 border border-gray-300 rounded">Previous</a>
        <div class="flex">
          <a href="#" class="mx-1 px-3 py-1 bg-gray-300 text-black rounded">1</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">2</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">3</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">...</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">8</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">9</a>
        <a href="#" class="mx-1 text-gray-500 px-3 py-1">10</a>
        </div>
        <a href="#" class="mx-1 px-3 py-1 border border-gray-300 rounded">Next</a>
      </div>
    </div>
  </div>
</div>
