<div class="">
    <div class="container">
        <div class="border-t border-gray-200 pt-8 pb-20">
            <div class="flex items-center">
                <a class="text-gray-400" href="#">Home</a>
    
                <svg class="mx-2" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.53063 0.469372L6.53063 5.46937C6.60055 5.53905 6.65602 5.62184 6.69388 5.71301C6.73173 5.80417 6.75122 5.90191 6.75122 6.00062C6.75122 6.09933 6.73173 6.19707 6.69388 6.28824C6.65602 6.3794 6.60055 6.46219 6.53063 6.53187L1.53063 11.5319C1.38973 11.6728 1.19864 11.7519 0.999378 11.7519C0.80012 11.7519 0.609024 11.6728 0.468128 11.5319C0.327231 11.391 0.248077 11.1999 0.248077 11.0006C0.248077 10.8014 0.327231 10.6103 0.468128 10.4694L4.9375 6L0.467503 1.53062C0.326607 1.38973 0.247452 1.19863 0.247452 0.999372C0.247452 0.800115 0.326607 0.609019 0.467503 0.468122C0.608399 0.327226 0.799496 0.24807 0.998753 0.24807C1.19801 0.24807 1.38911 0.327226 1.53 0.468122L1.53063 0.469372Z" fill="black" fill-opacity="0.6" />
                  </svg>
                  <span class="text-black">{{ page.title }}</span>
            </div>
            <h1 class="mb-6">{{ page.title }}</h1>

            <div class="text-lg">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>